// 全局的样式设置

@bodyBg: #E0EFE7;
@dialogBg: #FFFFFF;
@tipsColor: #AAAAAA;

@titleColor: #67AEF6;
@borderColor: #CCCCCC;
@baseFontColor: #606266;
@baseFontSize: 14px;
@border-style: 1px solid @borderColor;

body {
    background-color: @bodyBg;
}

.base-font-style {
    color: @baseFontColor;
    font-size: @baseFontSize;
}

.el-dropdown-link {
    cursor: pointer;
    color: @titleColor;
}

.el-table .el-table__body td {
    padding: 6px 0;
}

.el-menu {
    border-right-color: @borderColor  !important;
}

.el-menu.el-menu--horizontal {
    border-bottom-color: @borderColor  !important;
}

.el-menu--horizontal>.el-menu-item:not(.is-disabled):hover,
.el-menu--horizontal>.el-menu-item:not(.is-disabled):focus {
    background-color: @bodyBg;
}

.el-date-editor .el-range-input {
    background-color: @bodyBg;
}

.el-table th.gutter {
    display: table-cell !important;
}